.og-contianer-details{
 margin-top: 40px;
 background-color: #efa617;
}
.heading-line{
  position: relative;
  display: block;
  padding: 0px 0px 10px 0px;
  font-weight: 500;
  text-decoration: none;
  transition: .35s ease;
  border-bottom: 3px solid transparent;
  font-size: 48px;
  color: rgb(49, 30, 156);
  background-color:aquamarine;
  font-style:italic;
}
.edit{
  background-color:green;
  height:20px;
  width:20px;
}

.heading-line:after {
    position: absolute;
    display: inline-block;
    background: #efa617;
    content: " ";
    height: 0;
    transition: .35s ease;
    bottom: 0;
    width: 100px;
    height: 3px;
    margin: 0 auto;
    left: 0;
    transform: none;
}
.og-row{
  display:flex;
  flex-wrap: wrap;
  padding: 15px 0px;
}
.og-row select{
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #222629;
  background-color: #222629;
  color: #fff;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.text-center{
  text-align: center;
}
.og-li{
  border-bottom: 1px solid #3e4042;
  color: #fff;
  font-size: 18px;

}
.og-li-col{
  padding: 0px 10px;
}
@media only screen and (max-width: 450px) {
  .og-li-head {
    font-size: 8px;
  }
}
.og-li-col-1{
  width:5%;
}
@media only screen and (max-width: 600px) {
  .og-li {
    font-size: 10px;
  }
}
.og-li-col-2{
  width:15%;
  font-size:14px;

}
@media only screen and (max-width: 600px) {
  .og-li {
    font-size: 8px;
  }
}
.og-li-col-3{
  width:13%;
  font-size:12px;

}
.og-li-col-4{
  width:13%;
  font-size:12px;
}
.og-li-col-5{
  width:13%;
  font-size:12px;
}
.og-li-col-6{
  width:15%;
  font-size:12px;
}
.og-li-col-7{
  width:13%;
  font-size:12px;
}
.og-li-col-8{
  width:13%;
  font-size:12px;
  font-weight:bold;
}
.og-li-head{
  font-size: 20px;
  font-weight: 700;
}

.hide{
  display:none;
}
.delete{
  background-color:none;
  height:10px;
  width:10px;

}
.delete-style{
  background-color: transparent;
}