.Get-contianer{
  max-width: 1600px;
  margin: auto;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  background-image:url("https://ledmenulight.com/wp-content/uploads/2019/07/Dim-Lighting-Makes-You-Eat-More-800x675.jpg");
  background-size:cover;
  width: 100%;
 
}
.heading-line{
  position: relative;
  display: block;
  padding: 0px 0px 10px 0px;
  font-weight: 500;
  text-decoration: none;
  transition: .35s ease;
  border-bottom: 3px solid transparent;
  font-size: 30px;
  text-align:center;
 
  color: rgb(49, 30, 156);
  background-color:aquamarine;
  font-style:italic;
  width:1400px;
  text-align:center;
}

.heading-line:after {
    position: absolute;
    display: inline-block;
    background: #efa617;
    
    content: " ";
    height: 0;
    transition: .35s ease;
    bottom: 0;
    width: 100px;
    height: 40x;
    margin: 0 auto;
    left: 0;
    transform: none;
}
.og-row{
  display:flex;
  flex-wrap: wrap;
  padding: 15px 0px;

}
.og-row select{
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #222629;
 
  color: #fff;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

}
.text-center{
  text-align: center;
}
.og-li{
  border-bottom: 1px solid #3e4042;
  color: #fff;
  font-size: 18px;
  

}
.og-li-col{
  padding: 0px 5px;
}
@media only screen and (max-width: 450px) {
  .og-li-head {
    font-size: 8px;
  }
}
.og-li-col-1{
  width:5%;
}
@media only screen and (max-width: 600px) {
  .og-li {
    font-size: 20px;
  }
}
.og-li-col-2{
  width:15%;
  font-size:15px;
}
@media only screen and (max-width: 600px) {
  .og-li {
    font-size: 20px;
    background-color:#efa617;
  }
}

.og-li-col-3{
  width:5%;
  font-size:15px;

}
.og-li-col-4{
  width:13%;
  font-size:15px;
}
.og-li-col-5{
  width:13%;
  font-size:15px;
}
.og-li-col-6{
  width:15%;
  font-size:15px;
}
.og-li-col-7{
  width:13%;
  font-size:15px;
}
.og-li-col-8{
  width:13%;
  font-size:15px;
  font-weight:bold;
}
.og-li-head{
  font-size: 20px;
  font-weight: 700;
}
@media  only screen and (max-width: 400px){
  .og-li-col-3{
    width:13%;
    font-size:12px;
  }
  .og-li-col-4{
    width:13%;
    font-size:12px;
  }
  .og-li-col-5{
    width:13%;
    font-size:12px;
  }
  .og-li-col-6{
    width:15%;
    font-size:12px;
  }
  .og-li-col-7{
    width:13%;
    font-size:12px;
  }
  .og-li-col-8{
    width:13%;
    font-size:12px;
    font-weight:bold;
  }
  .og-li-head{
    font-size: 20px;
    font-weight: 700;
  }

}

.hide{
  display:none;
}
.details-heading{
  background-color: #efa617;
  color:black;
}
.all-container{
  padding:30px;
 
  margin-top:0px;
}
.all-buttons{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.Add{
  background-color:green;
  border-radius: 10px;
  width:80px;
  height:40px;
  color:white;

  }
.Update{
  background-color:blue;
  border-radius: 10px;
  width:80px;
  height:40px;
  color:white;
}
.delete{
  background-color:red;
  border-radius: 10px;
  width:80px;
  height:40px;
  color:white;
}
.create{
  
  background-color:red;
  height:50px;
  margin-left:40px;
  margin-top:40px;
}
