@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

ul {
  list-style-type: none;
  color: rgb(230, 200, 200);
  font-family: Georgia, "Times New Roman", Times, serif;
}

i {
  padding-right: 10px;
  padding-bottom: 30px;
  color: rgb(173, 166, 166);
}

.active {
  color: rgb(255, 0, 0);
}

.welcome_msg {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px 0px 0px 40px
}

.main_sec {
  width: 100vw;
}

.ts_date {
  text-align: center;
  font-size: 22px;
  font-family: "Lucida Sans Regular";
}

.ts_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 40px;
  
}

.ts_head .ts_col {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: rgb(167, 162, 162);
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.add_button {
    text-align: center;
    margin-bottom: 40px;
}

.button_style {
    border-radius: 5px;
    border-width: 0px;
    background-color: #ff0000;
    color: white;
    padding: 5px 10px 5px 10px;
}

.success_msg {
  color: rgb(0, 247, 0);
  font-family: Georgia;
  margin: 20px 0px 0px 40px
}

.failure_msg {
  color: rgb(247, 0, 0);
  font-family: Georgia;
  margin: 20px 0px 0px 40px
}
.update-Container{
  background-image:url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1719281/3472/1868/m1/fpnw/wm0/vegetables4_b72-.jpg?1475437662&s=e8dd22a30ce32c09e2a2773d2fd76075");
  background-size:cover;
  height:600px; 
}
.input{
  margin-top:20px;
  width:250px;
  height:50px;
}
.update-button{
  margin-top:25px;
  background-color:rgb(76, 51, 143);
  width:120px;
  color:white;
  font-size:18px;
  height:30px;

  font-family:"Roboto",

  
}
.update-heading{
  text-align:center;
  color:black;
  font-style:italic;
  margin-bottom:60px;
  margin-top:20px;
  font-size:30px;
  background-color:aquamarine;
}