@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.active {
  color: rgb(255, 0, 0);
}

.welcome_msg {
  color: White;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px 0px 0px 20px;
  margin-top:40px;
}

.main_sec {
  width: 80vw;
}
.main_msg{
  color:white;
  margin-bottom:30px;
}
.ts_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ts_col_delete {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



.add_button {
    text-align: center;
    margin-bottom: 40px;
}

.button_style {
    border-radius: 5px;
    border-width: 0px;
    background-color: #0751f3;
    color: white;
    padding: 5px 10px 5px 10px;
}
body {
	font-family: 'Varela Round', sans-serif;
}
.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
.delete-link{
  font-size:10px;
  text-align: center;

}
.link-conteiner{
  text-align:center;
  font-size:18px;
  text-decoration-color: azure;
  color:aqua;
}
.succcess_msg{
  color:Green;
  text-align:center;
  
}

.failure_msg{
  color:red;
  text-align:center;
  
}








