@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");





ul {
  list-style-type: none;
  color: rgb(230, 200, 200);
  font-family: Georgia, "Times New Roman", Times, serif;
}

i {
  padding-right: 10px;
  padding-bottom: 30px;
  color: rgb(173, 166, 166);
}

.active {
  color: rgb(255, 0, 0);
}

.main_msg {
  color:black;
  font-family: Georgia, "Times New Roman", Times, serif;
 
  font-weight:bold;
  text-align:center;
  margin-bottom:30px;
  background-color:aquamarine;
}

.main_sec {
  background-image:url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1719281/3472/1868/m1/fpnw/wm0/vegetables4_b72-.jpg?1475437662&s=e8dd22a30ce32c09e2a2773d2fd76075");
  background-size:cover;
  height:700px;
  width:1200px;
}

.ts_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 40px;
  width: 70vw;
  
}

.ts_head  {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color:white;
  background-color: #ff8a05;
}
.ts_col{
  color:white;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: rgb(126, 51, 51);
  font-size:20px;
  color:aquamarine;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  width:10px;
  font-size:18px;
}

.add_button {
    text-align: center;
    margin-bottom: 40px;
}

.button_style {
    border-radius: 5px;
    border-width: 0px;
    background-color: #f35207;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-top:28px;
}

.success_msg {
  color: rgb(0, 247, 0);
  font-family: Georgia;
  margin: 20px 0px 0px 40px;
  text-align: center;
}

.failure_msg {
  color: rgb(247, 0, 0);
  font-family: Georgia;
  margin: 20px 0px 0px 40px;
  text-align: center;
}
.delete-link{
  text-align:center;
  text-decoration-color: antiquewhite;
}
.link-conteiner{
  text-align:center;
  font-size:18px;
  text-decoration-color: azure;
  color:aqua;
}




