.Home-Container{
  background-image:url("https://wallpaperaccess.com/full/1401021.jpg");
  background-size:cover;
  height: 95vh;
}

@media only screen and (max-width: 600px) {
  .Home-Container{
  background-image:url("https://st3.depositphotos.com/4590583/17205/i/450/depositphotos_172055544-stock-photo-hot-spices-chili-and-spice.jpg");
  background-size:cover;
  }
}

.home-heading{
  font-family:Italic;
  font-weight:bold;
  text-align:center;
  justify-content:center;
  background-color:aquamarine;
  margin-top:40px;
}

.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid #fafafa;
}
a {
  text-decoration: none; 
  color: inherit;
}
.chat__details {
  flex: 1;
}

.chat__details > p {
  color: gray;
}

.chat__image {
  margin-right: 20px;
}
.chat__timestamp {
  color: gray;
}

.chat {
  font-size: medium;
}

.chat__details > h2 {
  font-size: larger;
}

.search-container {
  width: 350px;
  height: 35px;
  margin: 40px 0px 0px 0px;
}

.search-container-div {
  text-align: center;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  width: 250px;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 40px;
  padding: 10px;
  background: #008cff;
  color: white;
  font-size: 17px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.form-search {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.heading-details{
  font-size:15px;
  color:aliceblue;
  background-color:#0b7dda; 
}
@media  only screen and (max-width: 400px){
  .heading-details{
    font-size:10px;
  }
}

.search_msg {
  color: red;
  font-family: Georgia;
  font-size: 32px;
  text-align: center;
  background-color: white;
}